dades
**/dades/**
dades_secundaris
**/dades_secundaris/**
.ipynb_checkpoints
**/.ipynb_checkpoints/**
__pycache__
**/__pycache__/**
dask-worker-space
**/dask-worker-space/**
checkpoints
**/.checkpoints/**
Altres_dades
**/Altres_dades/**
*.csv