dades/2018/BICING_ESTACIONS/2018_08_Agost_BICING_ESTACIONS.csv
dades/2018/BICING_ESTACIONS/2018_09_Setembre_BICING_ESTACIONS.csv
dades/2018/BICING_ESTACIONS/2018_10_Octubre_BICING_ESTACIONS.csv
dades/2018/BICING_ESTACIONS/2018_11_Novembre_BICING_ESTACIONS.csv
dades/2018/BICING_ESTACIONS/2018_12_Desembre_BICING_ESTACIONS.csv
dades/2018/BICING_US/2018_08_Agost_BICING_US.csv
dades/2018/BICING_US/2018_09_Setembre_BICING_US.csv
dades/2018/BICING_US/2018_10_Octubre_BICING_US.csv
dades/2018/BICING_US/2018_11_Novembre_BICING_US.csv
dades/2018/BICING_US/2018_12_Desembre_BICING_US.csv
dades/2019/BICING_ESTACIONS/2019_01_Gener_BICING_ESTACIONS.csv
dades/2019/BICING_ESTACIONS/2019_02_Febrer_BICING_ESTACIONS.csv
dades/2019/BICING_ESTACIONS/2019_03_Marc_BICING_ESTACIONS.csv
dades/2019/BICING_US/2019_01_Gener_BICING_US.csv
dades/2019/BICING_US/2019_02_Febrer_BICING_US.csv
dades/2019/BICING_US/2019_03_Marc_BICING_US.csv
dades/2019/BicingNou_ESTACIONS/2019_03_Marc_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_04_Abril_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_05_Maig_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_06_Juny_NouBicing_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_07_Juliol_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_08_Agost_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_09_Setembre_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_10_Octubre_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_11_Novembre_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_ESTACIONS/2019_12_Desembre_BicingNou_ESTACIONS.csv
dades/2019/BicingNou_INFORMACIO/2019_03_Marc_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_04_Abril_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_05_Maig_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_06_Juny_NouBicing_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_07_Juliol_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_08_Agost_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_09_Setembre_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_10_Octubre_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_11_Novembre_BicingNou_INFORMACIO.csv
dades/2019/BicingNou_INFORMACIO/2019_12_Desembre_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_ESTACIONS/2020_01_Gener_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_02_Febrer_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_03_Marc_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_04_Abril_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_05_Maig_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_06_Juny_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_07_Juliol_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_08_Agost_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_09_Setembre_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_10_Octubre_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_11_Novembre_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_ESTACIONS/2020_12_Desembre_BicingNou_ESTACIONS.csv
dades/2020/BicingNou_INFORMACIO/2020_01_Gener_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_02_Febrer_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_03_Marc_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_04_Abril_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_05_Maig_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_06_Juny_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_07_Juliol_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_08_Agost_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_09_Setembre_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_10_Octubre_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_11_Novembre_BicingNou_INFORMACIO.csv
dades/2020/BicingNou_INFORMACIO/2020_12_Desembre_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_ESTACIONS/2021_01_Gener_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_02_Febrer_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_03_Marc_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_04_Abril_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_05_Maig_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_06_Juny_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_07_Juliol_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_08_Agost_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_09_Setembre_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_10_Octubre_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_11_Novembre_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_ESTACIONS/2021_12_Desembre_BicingNou_ESTACIONS.csv
dades/2021/BicingNou_INFORMACIO/2021_01_Gener_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_02_Febrer_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_03_Marc_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_04_Abril_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_05_Maig_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_06_Juny_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_07_Juliol_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_08_Agost_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_09_Setembre_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_10_Octubre_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_11_Novembre_BicingNou_INFORMACIO.csv
dades/2021/BicingNou_INFORMACIO/2021_12_Desembre_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_ESTACIONS/2022_01_Gener_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_02_Febrer_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_03_Marc_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_04_Abril_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_05_Maig_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_06_Juny_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_07_Juliol_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_08_Agost_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_09_Setembre_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_10_Octubre_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_11_Novembre_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_ESTACIONS/2022_12_Desembre_BicingNou_ESTACIONS.csv
dades/2022/BicingNou_INFORMACIO/2022_01_Gener_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_02_Febrer_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_03_Marc_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_04_Abril_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_05_Maig_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_06_Juny_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_07_Juliol_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_08_Agost_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_09_Setembre_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_10_Octubre_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_11_Novembre_BicingNou_INFORMACIO.csv
dades/2022/BicingNou_INFORMACIO/2022_12_Desembre_BicingNou_INFORMACIO.csv
dades/2023/BicingNou_ESTACIONS/2023_01_Gener_BicingNou_ESTACIONS.csv
dades/2023/BicingNou_ESTACIONS/2023_02_Febrer_BicingNou_ESTACIONS.csv
dades/2023/BicingNou_ESTACIONS/2023_03_Marc_BicingNou_ESTACIONS.csv
dades/2023/BicingNou_INFORMACIO/2023_01_Gener_BicingNou_INFORMACIO.csv
dades/2023/BicingNou_INFORMACIO/2023_02_Febrer_BicingNou_INFORMACIO.csv
dades/2023/BicingNou_INFORMACIO/2023_03_Marc_BicingNou_INFORMACIO.csv
dades/Estat_Estacions_Bicing.json
dades/Informacio_Estacions_Bicing.json
.ipynb_checkpoints/**
/dades/
/dades_secundaris/
/.ipynb_checkpoints/